.popup__container {
  position: fixed;
  width: 430px;
  min-height: 330px;
  left: calc(50vw - 430px / 2);
  top: calc(50vh - 330px / 2);
  background-color: #fff;
  border-radius: 10px;
  padding: 34px 36px 37px;
  box-sizing: border-box;
}
@media (max-width: 450px) {
    .popup__container {
        width: 282px;
        min-height: 322px;
        top: calc(50vh - 322px / 2);
        left: calc(50vw - 282px / 2);
        padding: 25px 22px;
      }
}