.profile__info {
  display: grid;
  align-items: end;
  grid-template-columns: auto auto;
  grid-template-areas:
    "title edit-button"
    "subtitle .";
  column-gap: 18px;
  row-gap: 16px;
}
@media (max-width: 450px) {
    .profile__info {
        text-align: center;
        column-gap: 11px;
        row-gap: 7px;
      }
}